			<!--

********************************************************

ENCOUNTERS

********************************************************

-->
			<component>
				<section>
					<templateId root="2.16.840.1.113883.10.20.22.2.22.1"/>
					<!-- Encounters Section - required entries -->
					<code code="46240-8" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of encounters"/>
					<title>Encounters</title>
					<text>

					</text>

					<% for (var i=0; i<bb.encounters.length; i++) { %>

					<entry typeCode="DRIV">
						<encounter classCode="ENC" moodCode="EVN">
							<templateId root="2.16.840.1.113883.10.20.22.4.49"/>
							<!-- Encounter Activities -->
							<!--  ********  Encounter activity template   ******** -->
							<id root="2a620155-9d11-439e-92b3-5d9815ff4de8"/>
							<code code="<%= bb.encounters[i].code%>" displayName="<%= bb.encounters[i].name%>" codeSystemName="<%= bb.encounters[i].code_system_name%>" codeSystem="<%= bb.encounters[i].code_system%>" codeSystemVersion="<%= bb.encounters[i].code_system_version%>">
								<originalText><reference value="#Encounter<%=1%>"/>
								</originalText>
								<translation code="<%= bb.encounters[i].translation.code%>" codeSystem="<%= bb.encounters[i].translation.code_system%>" displayName="<%= bb.encounters[i].translation.name%>" codeSystemName="<%= bb.encounters[i].translation.code_system_name%>"/>
							</code>
							<effectiveTime value="<%= bb.encounters[i].date%>"/>
							<performer>
								<assignedEntity>
									<id/>
									<code code="<%= bb.encounters[i].performer.code%>" codeSystem="<%= bb.encounters[i].performer.code_system%>" codeSystemName="<%= bb.encounters[i].performer.code_system_name%>" displayName="<%= bb.encounters[i].performer.name%>"/>
								</assignedEntity>
							</performer>
							<participant typeCode="LOC">
								<participantRole classCode="SDLOC">
									<templateId root="2.16.840.1.113883.10.20.22.4.32"/>
									<!-- Service Delivery Location template -->
									<code code="GACH" codeSystem="2.16.840.1.113883.5.111" codeSystemName="HL7 RoleCode" displayName="<%= bb.encounters[i].location.organization%>"/>
									<addr>
										<streetAddressLine><%= bb.encounters[i].location.street%></streetAddressLine>
										<city><%= bb.encounters[i].location.city%></city>
										<state><%= bb.encounters[i].location.state%></state>
										<postalCode><%= bb.encounters[i].location.zip%></postalCode>
										<country><%= bb.encounters[i].location.streer%></country>
									</addr>
									<telecom nullFlavor="UNK"/>
									<!--playingEntity classCode="PLC">
										<name>Good Health Clinic</name>
									</playingEntity-->
								</participantRole>
							</participant>
							<entryRelationship typeCode="RSON">
								<observation classCode="COND" moodCode="EVN">
									<templateId root="2.16.840.1.113883.10.20.22.4.19"/>
									<id root="db734647-fc99-424c-a864-7e3cda82e703" extension="45665"/>
									<code code="404684003" displayName="Finding" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT"/>
									<statusCode code="completed"/>
									<value xsi:type="CE" code="<%= bb.encounters[i].finding.code%>" displayName="<%= bb.encounters[i].finding.name%>" codeSystem="<%= bb.encounters[i].finding.code_system%>"/>
								</observation>
							</entryRelationship>
						</encounter>
					</entry>

					<% } %>
				</section>
			</component>