			<!--

********************************************************

IMMUNIZATIONS

********************************************************

-->
			<component>
				<section>
					<templateId root="2.16.840.1.113883.10.20.22.2.2"/>
					<!--  ********  Immunizations section template   ******** -->
					<code code="11369-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of immunizations"/>
					<title>Immunizations</title>
					<text>

					</text>

					<% for (var i=0; i<bb.immunizations.length; i++) { %>

					<entry typeCode="DRIV">
						<substanceAdministration classCode="SBADM" moodCode="EVN" negationInd="false">
							<templateId root="2.16.840.1.113883.10.20.22.4.52"/>
							<!--  ********   Immunization activity template    ******** -->
							<id root="e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92"/>
							<text>
								<reference value="#immun<%=i%>"/>
							</text>
							<statusCode code="completed"/>
							<effectiveTime xsi:type="IVL_TS" value="<%= bb.immunizations[i].date%>"/>
							<routeCode code="<%= bb.immunizations[i].route.code%>" codeSystem="<%= bb.immunizations[i].route.code_system%>" 
								codeSystemName="<%= bb.immunizations[i].route.code_system_name%>" displayName="<%= bb.immunizations[i].route.name%>"/>
							<doseQuantity nullFlavor="UNK"/>
							<consumable>
								<manufacturedProduct>
									<templateId root="2.16.840.1.113883.10.20.22.4.54"/>
									<!--  ********   Immunization Medication Information    ******** -->
									<manufacturedMaterial>
										<code code="<%= bb.immunizations[i].product.code%>" codeSystem="<%= bb.immunizations[i].product.code_system%>" displayName="<%= bb.immunizations[i].product.name%>" codeSystemName="<%= bb.immunizations[i].product.code_system_name%>">
											<originalText>Influenza virus vaccine</originalText>
											<translation code="<%= bb.immunizations[i].product.translation.code%>" displayName="<%= bb.immunizations[i].product.translation.name%>" codeSystemName="<%= bb.immunizations[i].product.translation.code_system_name%>" codeSystem="<%= bb.immunizations[i].product.translation.code_system%>"/>
										</code>
									</manufacturedMaterial>
								</manufacturedProduct>
							</consumable>
							<entryRelationship typeCode="SUBJ">
								<act classCode="ACT" moodCode="INT">
									<templateId root="2.16.840.1.113883.10.20.22.4.20"/>
									<!-- ** Instructions Template ** -->
									<code code="<%= bb.immunizations[i].education_type.code%>" codeSystem="<%= bb.immunizations[i].education_type.code_system%>" displayName="<%= bb.immunizations[i].education_type.name%>"/>
									<text><%= bb.immunizations[i].instructions%></text>
									<statusCode code="completed"/>
								</act>
							</entryRelationship>
						</substanceAdministration>
					</entry>

					<% } %>

				</section>
			</component>